@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Manrope', sans-serif;
}

/*----------------ANIMACIONES--------------*/
.animado {
    opacity: 0;
    transition: all 0.9s;
}

.mostrarArriba{
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba {
    0%{
        transform: translate(80px);

    }100%{
        transform: translate(0);
    }
}

/*----------------HEADER--------------*/
.header{
    width: 100%;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.051);
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
}


.menu__container{
    width: calc(100% - 20px); 
    margin: auto; 
    display: flex;
    max-width: 1500px;
}

.menu__logo{
    margin-top: 10px;
    width: 50%;
    margin-left: 70px;
}

.header-menu-fixed{
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: #fff;
}

.logo{
    width: 12%;

}

.logo__fondo{
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
}

.menu__menu{
    width: 50%;
    text-align: right;
    align-self: center;
}

.menu__menu a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    animation: slidein 2s;
}

.header .menu__container .menu__menu a[href="#contacto"]{
    background-color: #03B0C1;
    color: #fff;
    border-radius: 10px;
    padding: .5rem 1rem;
    text-transform: uppercase; 
    margin-right: 10px;
    font-weight: 400;
}

.header .menu__container .menu__menu a[href="#contacto"]:hover{
    background: #03b1c1b5;
    font-weight: 500;
 
}

@keyframes slidein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

/*---------------MAIN-------------*/
.presentacion{
    max-width: 100%;
    background-image: url(../img/der.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  
}

.presentacion .presentacion__izquierda{
    width: 40%;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-items: center;
    text-align: center;
}

.presentacion .presentacion__izquierda img{
    width: 60%;
    border-radius: 10px;
}

.presentacion .presentacion__izquierda p {
    color: #fff;
}

.presentacion .presentacion__derecha {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentacion .presentacion__derecha .presentacion__title{
    text-align: center;
    padding: 1rem;
    color: #fff;
    font-size: 100px;
    margin-left: 20px;
}


/*----------SERVICES----------------*/
.description__container{
    max-width: 1200px;
    margin: auto;
}

.services{
    margin-top: 100px;
}


.services h3{
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.service__info{
    display: flex;
    margin-bottom: 60px;
}

.service__info img{
    width: 50%;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 21px -11px rgba(0,0,0,0.75);

}

.service__info:nth-child(odd) img
{
    order: 2;
}

.service__info:nth-child(1) h3{
    color: #179ca8;
}
.service__info:nth-child(2) h3{
    color: #29ABE2;
}

.service__info:nth-child(2) .service__info__text{
    margin-left: 50px;
}


/*------------SERVICIOS CARTAS----------------*/
#main {
    background-color: #03b1c18a;

    
}

.inner{
    padding: 2rem;
}

/*------------SLIDES----------------*/
.container__slides{
    padding: 1rem;
    margin-bottom: 20px;
    margin-top: 100px;
    border-radius: 2px;
}

.container__slides .container__slides__p{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
}

.container__slides .wrapper {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
  
}

.container__slides .wrapper .glide .glide__slide .card {
    height: 470px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 2px 13px 1px rgba(0, 0, 0, 0.086);
}

.container__slides .wrapper .glide .glide__slide .card img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: .5s;
}

.container__slides .wrapper .glide .glide__slide .card img:hover{
    transform: scale(1.1);
    transition: .5s;
    border-radius: 5px;
}



.container__slides .wrapper .glide .glide__slide .card .content {
    background: #fff;
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    color: #000;
    z-index: 99;
    padding: 20px 15px;
    text-align: center;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.container__slides .wrapper .glide .glide__slide .card .content span {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -20%;
}

.container__slides .wrapper .glide .glide__slide .card .content h6 {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 25px;
    position: relative;
}

.container__slides .wrapper .glide .glide__slide .card .content h6::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 2px;
    background-color: #000;
    bottom: -8px;
    left: 30%;
}

.container__slides .wrapper .glide .glide__slide .card .content p {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.container__slides .wrapper .glide .glide__slide .card:hover .content {
    bottom: 0;
}

.glide__arrows .glide__arrow--left {
    left: .5em;
}

.glide__arrows .glide__arrow--right {
    right: .5em;
}

.glide__arrows .glide__arrow {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    font-size: 26px;
    padding: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/*-------------------CARDS---------------*/
.container__cards{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}
.container__card{
    width: 30%;
    border-radius: 10px;
    padding: 1rem;
}

.container__card:nth-child(1){
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.container__card:nth-child(2){
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    transform: scale(1.1);
}

.container__card:nth-child(3){
    background-image: linear-gradient(-225deg, #B6CEE8 0%, #F578DC 100%);
}
.container__card label{
    text-align: center;
    font-size: 2rem;
    padding: .5rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.888);
    background: #fff;
    color: #000;
    font-weight: 700;
    border-radius: 10px;
}

.container__card .card__img{
    width: 80%;
    margin: auto;
    padding: 1rem;
}

.container__card img{
    width: 100%;
}

.container__card .card__info{
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
}

.container__card .card__info ul li{
    list-style: none;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    text-align: center;
}

.container__card .card__info__price {
    text-align: center;
    margin-top: 10px;
    padding: 1rem;
    font-size: 3rem;
    font-weight: 600;
   
}


/*---------about dr -----------*/
.about{
    background-color: #03b1c18a;
    position: relative;
    display: flex;
    margin-top: 300px;
    padding: 1rem;
}


.about .about__img {
    width: 50%;
    margin: auto;
}

.about__izq{
    width: 50%;
}

.about__der{
    width: 50%;
}

.about .about__img img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    padding: .2rem;
    background-color: #03b1c18a;
    position:absolute;
    top: -100px;
}

.about .about__info{
   padding: 1rem;
   margin-top: 200px;
}

.about .about__info h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
} 

.about .about__info  p{
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.about .about__info  p:nth-child(3){
    font-weight: bold;
}


/*---------UBICATION------------*/

.about .about__der .ubication img{
    width: 5%;
}
.about .about__der .ubication p {
    font-size: 50px;
    margin: 0;
}
.about .about__der .ubication .ubication__info{
    padding: 1rem;
}
.ubication iframe{
   width: 100%;
    height: 500px;
    border: 0;
}






/* Wrapper */

#wrapper > * > .inner {
    width: 100%;
    max-width: 68em;
    margin: 0 auto;
    padding: 0 2.5em;
  }
  
  @media screen and (max-width: 300px) {
    #wrapper > * > .inner {
      padding: 0 1.25em;
    }
  }